@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "bebas neue";
    letter-spacing: 1px;
    color: white;
}
body{
  background-color: #340B2A;
}
.produtos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 3px #0F0F0F7A;
}
.item{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #710655;
  flex-direction: column;
  margin: 20px 0px;
  border:1px solid #1A1A1A;
  padding: 10px;
  border-radius: 10px;
}
.produto-img{
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
  overflow: hidden;
}
p, span{
  margin: 5px 0px;
}
span{
  color: #29FF3B;
}
button{
  background: #911212;
  border: 1px solid #DBDBDB42;
  outline: none;
  padding: 10px;
  border-radius: 10px;
}