@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "bebas neue";
    letter-spacing: 1px;
    color: white;
}
body{
  background-color: #25081E;
}
h6{
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 50px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 15px;
    align-items: center;
    color: rgb(114, 5, 107);
    text-decoration: none;
}
h6:hover{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.522);
}
.produtos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
}
.item{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #59173E;
  flex-direction: column;
  margin: 20px 0px;
  border:1px solid #1A1A1A;
  padding: 10px;
  border-radius: 10px;
}
.produto-img{
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
  overflow: hidden;
}
p, span{
  margin: 5px 0px;
}
span{
  color: #29FF3B;
}
button{
  background: #490830;
  border: 1px solid #DBDBDB42;
  outline: none;
  padding: 10px;
  border-radius: 10px;
}