@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    height: 100vh;
    background: #1f1846;
    color: white;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: rgb(42, 0, 36);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(19, 19, 153);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.316);
}

header {
    width: 100%;
    color: white;
    height: 100px;
    background-color: #1C102F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 0px 2px #000;
}

nav {
    background: #39467e5c;
    padding: 5px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: .5s;
}

nav a:hover {
    background-color: #110D28;
    color: rgb(207, 19, 207);
}
.imagem-e-h2{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(18, 18, 153, 0.238);
    padding: 20px 0px;
    text-align: center;
    font-size:1em;
}
.imagem-e-h2 h2{
    margin: 10px 0px;
}
#paragrafo-descrição{
    padding: 10px;
    line-height: 30px;
    font-size: .9em;
}
main {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-produtos {
    position: relative;
    padding: 50px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    background: #170449;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    box-shadow: 1px 0px 5px #000000b3;
  
}

.cards-produtos h3,
h4 {
    position: absolute;
    left: 0%;
    padding: 10px;
}

.cards-produtos h3 {
    top: 0%;
}

.cards-produtos h4 {
    bottom: 0%;
}

.card {
    background-color: rgba(62, 62, 163, 0.274);
    padding: 25px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 0px 5px #000000b3;
    transition: .2s;
    cursor: pointer;
}

.card img {
    scroll-snap-align: center;
    max-height: 300px;
    min-height: 100px;
}

.card:hover {
    transform: scale(1.1);
}
.textinho-deproduto{
    padding: 10px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.127);
    text-align: center;
    color: rgb(224, 105, 224);
    border-radius: 10px;
    animation: mudarCorFonte 5s  infinite;
}
footer,
.footer-div,
.email-div,
.instagram-div>a,
.whatsapp-div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 0px;
    text-decoration: none;
}

footer img {
    padding: 2px;
}

footer {
    width: 100%;
    padding: 30px 0px;
    background-color: #1C102F;
}
@keyframes mudarCorFonte {
    0%{
        color:rgb(213, 54, 213) ;
    }
    50%{
        color:rgb(255, 234, 234) ;
    }
    100%{
        color:rgb(213, 54, 213);
    }
}
@media (max-width: 515px) {
    .cards-produtos{
        width: 100%;
    }
    .cards-produtos h4,.cards-produtos h3 {
        font-size: .9em;
 
    }
    footer {
        height:200px;
    }
}